<div class="form-group">
  <label
    >{{ label }}
    <span class="required" *ngIf="isRequired">*</span>
  </label>
  <div class="input-group">
    <input
      class="form-control"
      [(ngModel)]="value"
      [type]="type"
      (blur)="onTouched()"
      [disabled]="disabled"
      [placeholder]="placeholder"
      [readonly]="!!isReadOnly"
    />
    <div class="input-group-append">
      <span
        class="input-group-text"
        *ngIf="isRequired && controlDir.control.valid"
      >
        <img src="../../assets/images/v.svg" />
      </span>
    </div>
  </div>
  <div
    class="alert alert-danger"

  >
    {{ errorMsg }}
  </div>
</div>
