<div class="form-group">
  <label
    >{{ label }}
    <span class="required" *ngIf="isRequired">*</span>
  </label>
  <div class="input-group">
    <input
      class="form-control"
      #input
      [type]="type"
      (input)="onChange($event.target.value)"
      (blur)="onTouched()"
      [disabled]="disabled"
      [placeholder]="placeholder"
    />
    <div class="input-group-append">
      <span
        class="input-group-text"
        *ngIf="isRequired && controlDir.control.valid"
      >
        <img src="../../assets/images/v.svg" />
      </span>
    </div>
  </div>
  <div
    class="alert alert-danger"
    *ngIf="
      controlDir && !controlDir.control.valid && !controlDir.control.pristine
    "
  >
    {{ errorMsg }}
  </div>
</div>
